* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: rgb(24, 24, 24);
    font-family: Arial, Helvetica, sans-serif;
}

.container nav ul {
    background-color: rgb(49, 49, 49);
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.2);
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.15s ease-in-out;
}
