* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: rgb(24, 24, 24);
    font-family: Arial, Helvetica, sans-serif;
}

.container nav ul {
    background-color: rgb(49, 49, 49);
    box-shadow: 0 5px 4px 0 rgba(0,0,0,.2);
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.15s ease-in-out;
}

a:hover {
    color: aqua;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid aqua;
}

.center {
    position: relative;
    text-align: center;
    top: 30px;
}

h1, h2 {
    position: relative;
    top: 130px;
    margin-left: 50px;
}

h1 {
    color: aqua;
    margin-bottom: 15px;
}

#sobre {
    position: relative;
    top: 150px;
    margin-left: 50px;
}

#sobre h3 {
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 15px;
}

#sobre p {
    font-size: 18px;
}

footer img {
    width: 50px;
    height: 50px;
}


footer {
    position: relative;
    top: 170px;
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}